@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');

@import './tachyons/tachyons.css';
@import './styles/variables.css';
@import './styles/fonts.css';
@import './styles/instasearch.css';
@import './styles/visibility.css';
@import './styles/animations.css';

body {
  font-family: 'Roboto', sans-serif;
  color: var(--mid-gray);
  font-size: 0.875rem;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: var(--mid-gray);
  transition: color 0.3s ease-in;
}

a:hover {
  color: var(--gold);
}

button {
  cursor: pointer;
}

.js-content {
  line-height: 1.5;
}

.js-content a,
.js-content a:link,
.js-content a:visited {
  text-decoration: none;
  color: var(--gold);
  transition: border-style 0.3s ease-in;
  border-bottom: 1px solid var(--gold);
}

.js-content a:hover {
  border-bottom: 1px dashed var(--gold);
}

.js-content h1 {
  font-size: 3rem;
  font-weight: 600;
}

.js-content h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

.js-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.js-content h4 {
  font-size: 1.25rem;
  font-weight: 300;
}

.js-content h5 {
  font-size: 1rem;
  font-weight: 300;
}

.js-content h6 {
  font-size: 0.875rem;
  font-weight: 400;
}

.js-content p,
.js-content ul {
  font-size: 1.1rem;
}

.js-content li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.js-content img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.js-content img + em {
  display: block;
  text-align: center;
}

.no-last-border:last-child {
  border: none;
}
